.idea/
build/
build-*/
**/build/
cmake-build-**/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
install_manifest.txt
Testing/
CTestTestfile.cmake
.DS_Store
*.user
*.swp
*.swo
*.VC.db
*.VC.opendb
*.exe
